body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #055DDB;
}

html{
  scroll-behavior: smooth;
  font-family: Ubuntu;
}

li{
  list-style: none;
}
